AWS_PROFILE=my_aws_profile
AWS_REGION=us-east-1
SG_ID=sg-0123456789abcdef0
OLD_FILTER_DESTINATION_ARN="arn:aws:lambda:us-east-1:123456789012:function:cloudwatch"
NEW_FILTER_NAME="My ESF stream"
NEW_FILTER_DESTINATION_ARN="arn:aws:kinesis:us-east-1:123456789012:stream/my-esf-kinesis-stream"
AWS_CLOUDWATCH_TO_KINESIS_ROLE_ARN="arn:aws:iam::123456789012:role/MyCloudWatchToKinesisRole"
AWS_PAGER=""